.filters {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border: 2px solid grey;
  border-radius: var(--border-radius-l);
  margin: 0 20px;
  background-color: var(--color-secondary);
  gap: 15px;

  &__primary {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__secondary {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    &-search-input {
      width: 100%;
      height: 30px;

      input {
        width: 100%;
        height: 100%;
      }
    }

    &-search-title {
      margin-bottom: 10px;
    }
  }
}

.buttons {
  display: flex;
  height: 100%;
  justify-content: space-around;

  &__item {
    height: 30px;
    margin: 5px;
  }
}

.select-fields {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 1fr);

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-self: flex-end;

    select {
      width: 200px;
    }
  }
}

@media screen and (width <= 1250px) {
  .select-fields {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 1fr);

    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-self: flex-end;

      select {
        width: 150px;
      }
    }
  }
}
