.v-input {
  position: relative;
  width: 100%;

  &__label {
    position: absolute;
    z-index: var(--ui-index-1);
    bottom: 5px;
    left: 5px;
    display: block;
    overflow: hidden;
    color: var(--color-text);
    font-size: 1.1rem;
    line-height: 1;
    pointer-events: none;
    text-overflow: ellipsis;
    transform: translate(0);
    transition:
      transform 0.3s ease-in-out,
      font-size 0.3s ease-in-out;
  }

  &__input {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid var(--color-black);
    background-color: transparent;
    color: var(--color-text);
    font-size: 1.1rem;
    line-height: 1;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }
  }

  &__error-message {
    position: absolute;
    z-index: var(--ui-index-2);
    top: calc(100% + 4px);
    color: var(--color-error);
    font-size: 0.9rem;
    line-height: 1;
  }

  &--focused,
  &--dirty {
    .v-input__label {
      font-size: 1.1rem;
      transform: translate(-6px, -170%);
    }
  }
}
